@import 'http://[::1]:8083/imported-from-cross-origin.css' (min-width: 600px);

#cross-origin-stylesheet-with-cross-origin-import {
  color: #007000;
  background-color: #a0a0ff;
  background-image: url('icon.svg');
}
