* {
    color: #{default_foreground_color} !important;
}

*:not(.colorpickertile):not(.colorpicker-button-colorbox) {
    background-color: #{default_background_color} !important;
}

a *,
button *,
input *,
optgroup *,
select *,
textarea *
{
    background-color: transparent !important;
    text-shadow: #{default_background_color} 0pt 0pt 1pt,
    #{default_background_color} 0pt 0pt 2pt,
    #{default_background_color} 0pt 0pt 3pt,
    #{default_background_color} 0pt 0pt 4pt,
    #{default_background_color} 0pt 0pt 5pt,
    #{default_background_color} 0pt 0pt 5pt,
    #{default_background_color} 0pt 0pt 5pt !important;
}
a,
button,
input,
optgroup,
select,
textarea
{
    text-shadow: #{default_background_color} 0pt 0pt 1pt,
    #{default_background_color} 0pt 0pt 2pt,
    #{default_background_color} 0pt 0pt 3pt,
    #{default_background_color} 0pt 0pt 4pt,
    #{default_background_color} 0pt 0pt 5pt,
    #{default_background_color} 0pt 0pt 5pt,
    #{default_background_color} 0pt 0pt 5pt !important;
}