html {
/* some pages set html bgcolor to transparent which becomes white: add !important */
  {if_toplevel_start}
    background-color: #{default_background_color} !important;
  {if_toplevel_end}
    color: #{default_foreground_color} !important; /* #29 */
}

/* legacy attributes */
[bgcolor] {
    background-color: #{default_background_color} !important;
}
[text],
[color] {
    color: #{default_foreground_color} !important;
}
[alink]:link:active {
    color: #FFA0A0 !important;
}
[vlink]:visited {
    color: #FFAFFF !important;
}
[link]:link {
    color: #7FD7FF !important;
}

/* Bittorrent sync */
.qrCode > canvas {
    border: 10px white solid;
}
