html, page, window {
  background-color: {default_background_color};
  color: {default_foreground_color};
  /* background-image: none !important; */
}

* {
  /* color: {default_foreground_color}; */
  /*background-color: black; <- do not set it here*/
}

*:link, *:link * {
    color: {default_link_color} !important;
}

*:visited, *:visited * {
    color: {default_visited_color} !important;
}

button,
input,
optgroup,
select,
textarea
{
    background-color: {default_background_color} !important;
    opacity: 1 !important;
    box-shadow: 0px 0px 1pt 1pt {default_foreground_color};
    border-radius: 1pt;
    color: {default_foreground_color} !important;
    text-shadow: {default_background_color} 0pt 0pt 1pt,
    {default_background_color} 0pt 0pt 2pt,
    {default_background_color} 0pt 0pt 3pt,
    {default_background_color} 0pt 0pt 4pt,
    {default_background_color} 0pt 0pt 5pt,
    {default_background_color} 0pt 0pt 5pt,
    {default_background_color} 0pt 0pt 5pt !important;
}

input,
textarea
{
    background-image: none!important;
}

*::-moz-selection {
    color: {default_foreground_color} !important;
    background: {default_selection_color} !important;
    text-shadow: {default_background_color} 0pt 0pt 1pt,
    {default_background_color} 0pt 0pt 2pt,
    {default_background_color} 0pt 0pt 3pt,
    {default_background_color} 0pt 0pt 4pt,
    {default_background_color} 0pt 0pt 5pt,
    {default_background_color} 0pt 0pt 5pt,
    {default_background_color} 0pt 0pt 5pt !important;
}

/* TODO: "black on transparent" mark */
img[alt="inline_formula"],
.mwe-math-fallback-image-inline,
.highcharts-container /* charts, for example on https://addons.mozilla.org/en-US/firefox/addon/black-background-white-text/statistics/ */
{
    filter: invert(100%) hue-rotate(180deg) !important;
}

groupbox#dialogBox { /* about:preferences dialogs */
    box-shadow: 0 0 4px 3px {default_foreground_color} !important;
}

/*Google Hangouts fixes*/
@-moz-document url-prefix("https://talkgadget.google.com/")
{
    div.PD.IF, img.Yf {
        border: 1pt solid {default_foreground_color} !important;
    }

    div.ci {
        visibility: hidden !important;
    }
}
@-moz-document url-prefix("http://catalog.onliner.by/") {
    .i-checkbox__faux::before {
        filter: invert(100%);
    }
}