@-moz-document url(chrome://browser/content/browser.xul) { /*Firefox top-level window*/
    .tabbrowser-tabbox > tabpanels > notificationbox {
        background-color: #{default_background_color} !important;
    }

    #customization-container,
    #customization-footer,
    #customization-header,
    .customizationmode-button /*,
    #customization-tipPanel * */
    {
        color: #{default_foreground_color} !important;
        background-color: #{default_background_color} !important;
    }
    .statuspanel-label {
        color: #{default_foreground_color} !important;
        background-color: #{default_background_color} !important;
        border-color: #{default_foreground_color} !important;
        background-image: none !important;
    }
}

@-moz-document url(chrome://browser/content/preferences/colors.xul) {
    label[control="useDocumentColors"]:after,
    #browserUseSystemColors .checkbox-label-box > label.checkbox-label:after
    {
        color: red !important;
        content: "*"
    }

    #ColorsDialogPane:after {
        display: block;
        color: red;
        content: '* This options was set by "Dark Background and Light Text" add-on. Changing them may lead to add-on misbehavior.'
    }
}

@-moz-document url(about:blank) {
    html {
        background-color: #{default_background_color};
    }
}
