window,
page,
html:not(.dark-background-light-text-is-pdf-viewer),
img:not(.mwe-math-fallback-image-inline):not([alt="inline_formula"]),    /* TODO: "black on transparent" mark */
embed[type="application/x-shockwave-flash"],
object[type="application/x-shockwave-flash"],
video,
div#viewer.pdfViewer div.page
{
    filter: invert(100%) hue-rotate(180deg) !important;
}
/* #28 */
:fullscreen video,
video:fullscreen,
/* #50 */
html.dark-background-light-text-is-top-level-image-document,
html.dark-background-light-text-is-top-level-image-document img:not(#ewpsxkrvgmsydgu) /* just a random unlikely id to increase specificity */
{
    filter: none !important;
}
html {
    background-color: black !important;
}
button,
input,
optgroup,
select,
textarea {
    background-color: white;
    color: black;
}

@-moz-document domain(facebook.com) {

}