* {
    color: white !important;
    background-color: black !important;
    /*text-shadow:
        #000 0pt 0pt 1pt,
        #000 0pt 0pt 2pt,
        #000 0pt 0pt 3pt,
        #000 0pt 0pt 4pt,
        #000 0pt 0pt 5pt !important;*/
}

a *
button *,
input *,
optgroup *,
select *,
textarea *
{
    background-color: transparent !important;
    text-shadow: #000 0pt 0pt 1pt,
    #000 0pt 0pt 2pt,
    #000 0pt 0pt 3pt,
    #000 0pt 0pt 4pt,
    #000 0pt 0pt 5pt,
    #000 0pt 0pt 5pt,
    #000 0pt 0pt 5pt !important;
}
a,
button,
input,
optgroup,
select,
textarea
{
    text-shadow: #000 0pt 0pt 1pt,
    #000 0pt 0pt 2pt,
    #000 0pt 0pt 3pt,
    #000 0pt 0pt 4pt,
    #000 0pt 0pt 5pt,
    #000 0pt 0pt 5pt,
    #000 0pt 0pt 5pt !important;
}