:root {
    --dark-background-light-text-add-on-foreground-color: black;
    --dark-background-light-text-add-on-background-color: white;
    --dark-background-light-text-add-on-link-color: #0000FF; /*TODO: better default colors */
    --dark-background-light-text-add-on-visited-color: #A000A0;
    --dark-background-light-text-add-on-active-color: #FF0000;
    --dark-background-light-text-add-on-selection-color: #8080FF;
}

html, body {
    font: caption;
    color: var(--dark-background-light-text-add-on-foreground-color);
    background-color: var(--dark-background-light-text-add-on-background-color);
}

input,
button,
select {
    box-sizing: border-box;
}

button,
select,
input[type="color"] {
    cursor: pointer;
}

button::-moz-focus-inner {
    border: 0
}

input[type="checkbox"],
input[type="radio"] {
    height: 1em;
    width: 1em;
    font-size: 1em;
}

select,
input[type="color"],
input[type="text"],
button {
    -moz-appearance: none;
    color: var(--dark-background-light-text-add-on-foreground-color);
    font-size: 1em;
    line-height: 1.2em;
    padding: 0.5em 0.5em;
    border-radius: 0.2em;
    border-width: 1px;
    /* similar selector from base.css has higher specificity and should overwrite color below but it doesn't (bug?) */
    border-color: var(--dark-background-light-text-add-on-foreground-color);
    border-style: solid;
    background-color: var(--dark-background-light-text-add-on-background-color);
    transition-duration: 0.3s;
    transition-property: border-color, box-shadow;
}

input[type="text"] {
    box-shadow: inset 0 0 0.15em 0.15em transparent;
}

input[type="text"]:focus {
    box-shadow: inset 0 0 0.15em 0.15em var(--dark-background-light-text-add-on-selection-color) !important;
    border-color: var(--dark-background-light-text-add-on-selection-color) !important;
}

select,
input[type="color"],
button {
    box-shadow: 0 0 0.15em 0.15em transparent !important;
}

select:focus,
input[type="color"]:focus,
button:focus {
    box-shadow: 0 0 0.15em 0.15em var(--dark-background-light-text-add-on-selection-color) !important;
    border-color: var(--dark-background-light-text-add-on-selection-color) !important;
}

select {
    text-overflow: ellipsis;
    background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><svg xmlns="http://www.w3.org/2000/svg" width="500" height="500"><path stroke="%23000000" fill="transparent" stroke-width="40" d="M 100 175 L 250 350 L 400 175"/></svg>');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 1em;
    background-size: 1em;
}
